<config>
    <modules>
        <Tribzi_Catbee>
            <version>0.1.0</version>
        </Tribzi_Catbee>
    </modules>
  <frontend>
    <events>
      <checkout_onepage_controller_success_action>
        <observers>
          <tribzi_catbee_popup>
            <type>singleton</type>
            <class>Tribzi_Catbee_Model_Cart_Observer</class>
            <method>addCatbee</method>
          </tribzi_catbee_popup>
        </observers>
      </checkout_onepage_controller_success_action>
    </events>
    <layout>
      <updates>
        <Tribzi_Catbee>
          <file>tribzi.xml</file>
        </Tribzi_Catbee>
      </updates>
    </layout>
  </frontend>
  <global>
    <blocks>
      <Tribzi_Catbee>
        <class>Tribzi_Catbee_Block</class>
      </Tribzi_Catbee>
    </blocks>
    <helpers>
      <Tribzi_Catbee>
        <class>Tribzi_Catbee_Helper</class>
      </Tribzi_Catbee>
    </helpers>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <use>admin</use>
        <args>
          <modules>
            <Tribzi_Catbee after="Mage_Adminhtml">Tribzi_Catbee_Adminhtml</Tribzi_Catbee>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <menu>
      <tribzi module="Tribzi_Catbee">
        <title>Tribzi</title>
        <sort_order>80</sort_order>
        <children>
          <items module="Tribzi_Catbee">
            <title>Manage Campains</title>
            <sort_order>1</sort_order>
            <action>adminhtml/catbeeadmin</action>
          </items>
        </children>
      </tribzi>
    </menu>
    <acl>
      <resources>
        <admin>
          <children>
            <Tribzi_Catbee>
              <title>Tribzi</title>
              <sort_order>10</sort_order>
            </Tribzi_Catbee>
            <system>
              <children>
                <config>
                  <children>
                    <tribzi>
                      <title>Tribzi global configuration</title>
                    </tribzi>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <tribzi>
          <file>tribzi.xml</file>
        </tribzi>
      </updates>
    </layout>
  </adminhtml>
</config>
