body{
    font-family: 'Calibri';
}
.box-wrapper{
    width: 568px;
    height: 216px;
    background: url(../images/friend_page_blue_bg.jpg);
    padding: 0px;
}
.box {
    background: #fff;
    z-index:1002;
    overflow: auto;
}
.box-shadow {
    -webkit-box-shadow: 0px 0px 5px 1px #368dc2;
    box-shadow: 0px 0px 5px 1px #368dc2;
}
.rounded-corners {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.separator
{
    background: url(../images/dotted_sep.png) no-repeat 163px;
    padding: 9px 8px;
}
img {
    border: none;
}
.clearfix:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
}
.friend-landing{
    color: #3a350a;
    background: url(../images/friend_page_inner_bg.jpg);
}
.inner-box-content-2 {
    border: 2px solid #c1be9b;
    padding: 10px;
}
.product-pic{
    float: left;
}
.deal-text {
    float: right;
    margin-left: 10px;
}
.friend-landing p{
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0;
}
.go-btn{
    background: url(../images/go_btn.png) no-repeat;
    margin-top: 6px;
    cursor: pointer;
    border: none;
    display: block;
    color: #fff;
    float: right;
    overflow: hidden;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 2px #5F5F5F;
    padding: 6px 66px 8px 66px;
    text-transform: uppercase;
    font-weight: bold;
}